.roundState {
    float: right;
    margin: 0 auto;
    height: 100vh;
    width: 20%;
    padding: 0px;
    background: #fff3c5;
}

.playerList {
    color: #000000;
}

.outList{
    color: #ff5e35;
}

.admin_choice_true {
    width:"40vw";
    min-height: 40px;
    background:"#fffb87";
    float: "left";
}

.admin_choice_false {
    width:"40vw";
    min-height: 40px;
    background:"#adff87";
    float: "right";
}

.player_choice_true {
    width:"50vw";
    min-height: 40px;
    background:"#fffb87";
    float: "left";
    border-right: 2px solid black;
}

.player_choice_false {
    width:"50vw";
    min-height: 40px;
    background:"#adff87";
    float: "right";
    border-left: 2px solid black;
}

.answer-group input[type=radio]{
    display: none;
}
.answer-group input[type=radio] + label {
    color: #e0e0e0;
    font-size: 5em;
}
.answer-group input[type=radio]:checked + label {
    color: #000;
}

.problem_round {
    background: rgba( 255, 255, 255, 0.5 );
    border-radius: 15px;
    height: auto;
    /* 
    width: 50%;
    text-align: center;
    margin:0 auto; */
}